.ICEauthority
.bash_history
.bash_logout
git-backups/
.cache/
.config/Thunar/
.config/caja/
.config/config
.config/dconf/
.config/enchant/
.config/evolution/
.config/gtk-3.0/
.config/ibus/
.config/libreoffice/
.config/mozc/
.config/pulse/
.config/starship.toml
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xed/
.config/xfce4/
.dmrc
.lesshst
.gtkrc-2.0
.gtkrc-xfce
.linuxmint/
.local/
.mozilla/
.npm/
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.sunpinyin/
.wget-hsts
.xsession-errors
.xsession-errors.old
zara-backports.list
.config/fcitx5/conf/classicui.conf
.config/fcitx5/conf/keyboard.conf
.config/fcitx5/conf/table.conf
.config/fcitx5/conf/xim.conf
.pki/
下载
公共
图片
文档
桌面
模板
视频
音乐
.git.backup-*
